absl-py==0.12.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
akro==0.0.8
alabaster==0.7.12
apipkg==1.5
appdirs==1.4.4
astroid==2.5.6
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.1
blessed==1.18.0
blessings==1.7
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
cfgv==3.2.0
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cma==2.7.0
colorama==0.4.4
colorful==0.5.4
commonmark==0.9.1
contextvars==2.4
coverage==5.5
cycler==0.10.0
Cython==0.29.23
dataclasses==0.7
decorator==4.4.2
distlib==0.3.1
dm-tree==0.1.6
docutils==0.16
dowel==0.0.3
execnet==1.8.0
fasteners==0.16
filelock==3.0.12
flake8==3.9.1
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-polyfill==1.0.2
flatbuffers==1.12
future==0.18.2
-e git+https://github.com/rlworkgroup/garage.git@90b60905b29cea8f8373c6732ced0cadf8489b0c#egg=garage
gast==0.3.3
glfw==2.1.0
google-api-core==1.26.3
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.32.0
gym==0.18.0
h5py==2.10.0
hiredis==2.0.0
identify==2.2.4
idna==2.10
idna-ssl==1.1.0
imageio==2.9.0
imagesize==1.2.0
immutables==0.15
importlib-metadata==4.0.1
importlib-resources==5.1.2
iniconfig==1.1.1
isort==4.3.21
Jinja2==2.11.3
jsonschema==3.2.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
latexcodec==2.0.1
lazy-object-proxy==1.6.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
metaworld @ https://api.github.com/repos/rlworkgroup/metaworld/tarball/0875192baaa91c43523708f55866d98eaf3facaf
msgpack==1.0.2
mujoco-py==2.0.2.13
multidict==5.1.0
networkx==2.5.1
nodeenv==1.6.0
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.12
opencensus-context==0.1.2
opt-einsum==3.3.0
packaging==20.9
pep8-naming==0.7.0
Pillow==7.2.0
pluggy==0.13.1
pre-commit==2.12.1
prometheus-client==0.10.1
protobuf==3.15.8
psutil==5.8.0
py==1.10.0
py-spy==0.3.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.24.0
pybtex-docutils==1.0.0
pycodestyle==2.7.0
pycparser==2.20
pydocstyle==6.0.0
pyflakes==2.3.1
pyglet==1.5.0
Pygments==2.8.1
pylint==2.8.2
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.3
pytest-cov==2.11.1
pytest-forked==1.3.0
pytest-rerunfailures==9.1.1
pytest-timeout==1.4.2
pytest-xdist==2.2.1
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
ray==1.3.0
recommonmark==0.7.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scipy==1.5.4
setproctitle==1.2.2
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.5.4
sphinx-autoapi==1.8.1
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.2.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-probability==0.12.2
termcolor==1.1.0
tifffile==2020.9.3
toml==0.10.2
torch==1.7.1
torchvision==0.8.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
Unidecode==1.2.0
urllib3==1.26.4
virtualenv==20.4.4
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yapf==0.30.0
yarl==1.6.3
zipp==3.4.1
